body {
	font-family: 'Lato', sans-serif;
	font-weight:400;
}

a:link{
	float:right;
}


#eatery-hours {
	margin: 0px 0px 8px;
	text-align: center;
	font-size: 30px;
	color: #df5a49;
}

#divider {
	width: 90%;
	border-top: 1px solid #df5a49;
	margin:auto;
}

#division {
	border-top: 2px solid #45b29d;
	width: 100%;
	margin: 0px auto 50px;
}

#subdivider {
	border-top: 1px solid #ababab;
	width: 90%;
	margin-left: 2%;
	margin-top: 10px;
	margin-bottom: 0px;
}

#heart-image {
	margin: 30px 15px;
	width: 20px;
	height: 20px;
}

#row {
	display: flex;
	margin-left: 5%;
}

	.food-content {
		width: 100%;
		float: left;
	}


.menu-title {
	margin-left: 5%;
	margin-bottom: 5px;
	margin-top: 50px;
	font-size: 20px;
	color: #df5a49;
}

#food-name {
	margin: 20px 0px;
	margin-left: 2%;
	font-size: 30px;
}

#food-desc {
	margin: 20px 0px;
	margin-left: 2%;
	font-size: 17px;
}

#dining_halls{
	margin: 100px auto 75px;
	padding: 0px;
	list-style: none;
	font-size: 30px;
	text-align: center;
	list-style-type: none;
	color: #45B29D;
}

#dining_halls li{
	margin: 0px;
	display: inline;
	padding: 15px 60px;
	border: 3px solid #45B29D;
}

#meals{
	margin: 30px auto;
	padding: 0;
	list-style: none;
	font-size: 30px;
	text-align: center;
	list-style-type: none;
	color: #ababab;
}

.meals-active{
	color: #45B29D;
}

#meals li{
	display: inline;
	margin: 0px 40px;
	padding: 5px;
	width: 40px;
}

#login {
/*	margin: 0px auto;
	margin-top: 10px;*/
}

#login img {
	display: block;
	margin: 0px auto;
}

/*.app-name {
	width: 600px;
}*/

.active{
	background-color: #45B29D;
	color: white;
}

.row-liked{
	content: url("filled-heart.png");